@import 'reset';

@import './variables/spacing';
@import './variables/colors';

@import './components/header';
@import './components/spinner';

@import './views/landing';
@import './views/details';

* {
  box-sizing: border-box;
}

*,
html,
body {
  font-family: 'Roboto', sans-serif;
}

#root {
  height: 100vh;
}
