@import 'reset';

@import './variables/spacing';
@import './variables/colors';

@import './components/header';

@import './views/landing';

* {
  box-sizing: border-box;
}

*,
html,
body {
  font-family: 'Roboto', sans-serif;
}

#root {
  height: 100vh;
}
